root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
new_line_before_open_brace = all
new_line_before_else = true
new_line_before_catch = true
new_line_before_finally = true
new_line_before_members_in_object_initializers = true
new_line_before_members_in_anonymous_types = true
new_line_between_query_expression_clauses = true

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2
